" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
 
 
let mapleader=" "
 
set clipboard+=unnamed
set scrolloff=5
set number
set relativenumber
set showmode
 
set incsearch
set ignorecase
set smartcase
set hlsearch
 
set ideajoin

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'vim-surround'
Plug 'nerdtree'

" Use P to paste without overwriting the registry
map P _dp
 
map H <Action>(PreviousTab)
map L <Action>(NextTab)
 
map gd <Action>(GotoDeclaration)
map gh <Action>(ShowHoverInfo)
 
map <leader>e :NERDTreeToggle<CR>
map <leader>o :NERDTreeFocus<CR>
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>r <Action>(Run)
map <leader>l <Action>(ReformatCode)
map <leader>i <Action>(OptimizeImports)
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>a <Action>(ShowIntentionActions)
map <leader>n <Action>(RenameFile)
map <leader>cu <Action>(CloseAllUnmodifiedEditors)
map <leader>co <Action>(CloseAllEditorsButActive)
map <leader>gb <Action>(Annotate)
map <leader>gd <Action>(Compare.SameVersion)
map <leader>gc <Action>(ActivateCommitToolWindow)

map \r <Action>(RenameElement)

" This feels so wrong but it's awesome
map <esc> <Action>(HideAllWindows)
" To compensate for the above, we need to remap <C-c> for canceling
map <leader>q <C-c>
